body {
	box-sizing: border-box;
	font-family: TT Lakes;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: TT Lakes;
	src: url(./font/TTLakes-Regular.ttf);
	font-weight: normal;
}

.menu {
	display: block;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
	width: 320px;
	min-height: 768px;
	height: 100vh;
	top: 0px;
	left: 0px;
	padding-bottom: 32px;
	box-shadow: 16px 0px 52px #0e185033;

	@media screen and (max-height: 768px) {
		height: 100vh;
	}
}

.menu__button {
	display: flex;
	gap: 16px;
	width: 320px;
	height: 51px;
	margin-top: 18.73px;
}

.menu__button,
.hover:hover {
	opacity: 0.5;
}

.menu__button,
.hover:active {
	opacity: 1;
}

.menu__button__burger {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-left: 24px;
	margin-top: 8px;
	background: none;
	border: none;
}

.menu__button__group {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 96.55px;
	height: 50.81px;
	margin-top: 0px;
	margin-left: 0px;
	background: none;
	border: none;
}

.menu__button__search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-left: 62.73px;
	margin-top: 8px;
	background: none;
	border: none;
}

.menu__list {
	display: block;
	width: 222px;
	margin-top: 26.46px;
	opacity: 1;
	height: 100vh;
}

.menu__item {
	display: flex;
	flex-direction: column;
	width: 222px;
	height: auto;
	gap: 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #1b1c21;
}

.menu__item__first {
	height: 24px;
	display: flex;
	align-items: center;
	border-left: 4px solid #41f6d7;
	opacity: 1;
}

.menu__item__first span {
	margin-left: 24px;
	height: 24px;
}

.menu__item__span {
	margin-left: 24px;
	height: 24px;
}

.menu__contact {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	width: 196px;
	height: 124px;
	margin-left: 24px;
	margin-top: 20px;
	opacity: 1;
	gap: 16px;
}

.menu__contact__img {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	opacity: 1;
	background: none;
	border: none;
}

.menu__span__mail {
	width: 106px;
	height: 24px;
	opacity: 1;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #1b1c21;
}

.menu__span__tell {
	width: 196px;
	height: 32px;
	margin-top: 0px;
	margin-left: 0px;
	opacity: 1;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.6px;
	color: #1b1c21;
}

.menu__lang {
	margin-top: 20px;
	margin-left: 0px;
}

.menu__lang span {
	width: 24px;
	height: 24px;
	opacity: 1;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #7e7e82;
}

/* @media screen and (max-height: 767px) {
	.menu {
		display: block;
		position: fixed;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 1;
		width: 320px;
		height: 768px;
		top: 0px;
		left: 0px;
		padding-bottom: 32px;
		box-shadow: 16px 0px 52px #0e185033;
	}

	.menu,
	.menu__list {
		display: block;
	}

	.menu__button {
		display: flex;
		gap: 16px;
		width: 320px;
		height: 51px;
		margin-top: 18.73px;
	}

	.menu__button,
	.hover:hover {
		opacity: 0.5;
	}

	.menu__button,
	.hover:active {
		opacity: 1;
	}

	.menu__button__burger {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		margin-left: 24px;
		margin-top: 8px;
		background: none;
		border: none;
	}

	.menu__button__group {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 96.55px;
		height: 50.81px;
		margin-top: 0px;
		margin-left: 0px;
		background: none;
		border: none;
	}

	.menu__button__search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		margin-left: 62.73px;
		margin-top: 8px;
		background: none;
		border: none;
	}

	.menu__list {
		display: block;
		width: 222px;
		margin-top: 26.46px;
		opacity: 1;
		height: 100vh;
	}

	.menu__item {
		display: flex;
		flex-direction: column;
		width: 222px;
		height: auto;
		gap: 22px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #1b1c21;
	}

	.menu__item__first {
		height: 24px;
		display: flex;
		align-items: center;
		border-left: 4px solid #41f6d7;
		opacity: 1;
	}

	.menu__item__first span {
		margin-left: 24px;
		height: 24px;
	}

	.menu__item__span {
		margin-left: 24px;
		height: 24px;
	}

	.menu__contact {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		width: 196px;
		height: 124px;
		margin-left: 24px;
		margin-top: 20px;
		opacity: 1;
		gap: 16px;
	}

	.menu__contact__img {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		opacity: 1;
		background: none;
		border: none;
	}

	.menu__span__mail {
		width: 106px;
		height: 24px;
		opacity: 1;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #1b1c21;
	}

	.menu__span__tell {
		width: 196px;
		height: 32px;
		margin-top: 0px;
		margin-left: 0px;
		opacity: 1;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.6px;
		color: #1b1c21;
	}

	.menu__lang {
		margin-top: 20px;
		margin-left: 0px;
	}

	.menu__lang span {
		width: 24px;
		height: 24px;
		opacity: 1;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #7e7e82;
	}
} */
